# Byte-compiled / optimized / DLL files
__pycache__/


# Distribution / packaging
.Python
*.zip
.idea/
saved_modelfile/
model_file/
result/
# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/


